
// BASICS
$font-family: 'Roboto', sans-serif;
$font-size: 3rem; 
$line-height: $font-size * 1.5;

$font-h2: $font-size * 3;

$font-bold: 500;
$font-light: 300;

// COLORS
$color-bg: #fff;
$color-font: #1b1b1b;

$color-purple: #78379d;
$color-white: #fff;