.home-hero {
	background: $color-purple;
	overflow: hidden;
	margin: 0 0 40px 0;


	.content-box {
		overflow: hidden;
		padding: 120px 0;
		margin: 0 auto;
		max-width: 720px;
		text-align: center;

		h2 {
			font-size: $font-h2;
			font-weight: $font-bold;
			color: $color-white;
			margin: 0 0 20px 0;

			@include responsive(sm) {
				font-size: 2.4rem;
			}

		}

		.form-group {
			position: relative;
		}

		.form-control {
			height: 60px;
			font-size: 18px;
			line-height: 27px;
		}

		.btn-green {
			font-size: 18px;
			line-height: 27px;
			position: absolute;
			top: 0;
			right: 0;
			padding: 15px 40px;
			text-transform: uppercase;
			@include no-left-radius;
		}



	}
}