.navbar {
	background: #78379d;

	.navbar-brand {
		color: #fff;
		font-size: 1.5rem;
		font-weight: $font-bold;
		padding-top: 0.5rem;
	}

	.navbar-nav .nav-link {
		color: #fff;
		font-weight: $font-light;
		padding-left: 0.8rem;
		padding-right: 0.8rem;
		@include border-radius(4px);

		&:hover {
			background: #fff;
			color: $color-purple;
		}
	}

}